body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  min-width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box > textarea {
  flex: 1 1 0;
}

.box > span {
  font-family: monospace;
  margin-right: 10px;
  flex: 1 2 0;
}
