body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex {
  display: flex;
}

.box {
  min-width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box > textarea {
  flex: 1 1 0;
}

.box > label {
  font-family: monospace;
  margin-right: 10px;
  flex: 1 2 0;
}

.ml-10 {
  margin-left: 10px;
}

.box__mt-10 .box:not(:first-child) {
  margin-top: 10px;
}

.box__mt-25 .box:not(:first-child) {
  margin-top: 25px;
}
